/*
// Adds borders to tables and table cells.

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;

}

th, td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    text-align: left;
}

// Changes spacing for block quotes 

blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

// White screenshots on white pages can look wierd. This adds subtle borders to images.   

img {
    margin-top: 1.2rem;
    border: 1px solid #dee2e6;
    margin-bottom: 2rem;
}
*/
