---
#title: 'plusserver Kubernetes Engine'
---

{{< blocks/cover title="plusserver technical documentation" image_anchor="bottom" height="full" >}}
<br><br><br><br><br><br><br><br>
<div class="mx-auto">
	
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Documentation <i class="fa fa-home ml-2"></i>
    </a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://www.plusserver.com/en/produkte/managed-kubernetes">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/pluscloudopen">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="dark" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section >}}
{{% blocks/feature icon="fa-solid fa-users" title="Join us!" url="https://scs.community" %}}
We're part of the [Sovereign Cloud Stack](https://scs.community) Community.
One platform — standardized, built and operated by many.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/pluscloudopen/pske-docs" %}}
We do a [Pull Request](https://github.com/pluscloudopen/pske-docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-linkedin" title="Follow us on LinkedIn!" url="https://www.linkedin.com/company/plusserver/" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

