---
---

{{< blocks/cover title="plusserver: technical documentation" image_anchor="bottom" height="full" color="blue" >}}

<div class="mx-auto">
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://docs.pco.get-cloud.io">
        pluscloud open <i class="fa-solid fa-cloud ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://docs.pcv.get-cloud.io">
        pluscloud VMware <i class="fa-solid fa-cloud ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://docs.pske.get-cloud.io">
        plusserver Kubernetes Engine (PSKE) <i class="fa-solid fa-box ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://docs.xaas.get-cloud.io">
        pluscloud Everything-as-a-Service (XaaS) <i class="fa-solid fa-bell-concierge ml-2"></i>
    </a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="dark" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa-solid fa-house" title="Always the best-fit cloud for your business" url="https://www.plusserver.com/en/" %}}
With the leading German multi-cloud data service provider
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/plusserver/docs" %}}
We do a [Pull Request](https://github.com/plusserver/docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-linkedin" title="Follow us on LinkedIn!" url="https://www.linkedin.com/company/plusserver/" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

